.terms-text {
    width: 85%;
    margin: auto;
    padding: 40px 20px;
    color: black;
    font-size: 1.2rem;
    line-height: 1.8;
}

.terms-section {
    margin-bottom: 30px;
}

.terms-section h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #5B9D7D;
    margin-bottom: 10px;
}

.terms-section ul {
    padding-left: 20px;
    list-style-type: disc;
}

.terms-section ul li {
    margin-bottom: 8px;
}
