.price-list-form-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh auto;
}

.price-list-form-content {
    padding: 2.5rem;
    border-radius: 12px;
    width: 75%;
}

.price-list-form-content h2 {
    font-size: 28px;
    font-weight: 600;
    color: #5B9D7D;
    margin-bottom: 1em;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.submit-button.disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 768px) {
    .price-list-form-content {
        width: 90%;
        padding: 2rem;
    }

    .price-list-form-content h2 {
        font-size: 24px;
    }
}